.git
.github
.venv
.pytest_cache
.mypy_cache
.ruff_cache
**/.venv
**/.pytest_cache
**/.mypy_cache
**/.ruff_cache
**/__pycache__
**/.next
**/node_modules
**/.coverage
**/coverage
data/objects
.env
*.log
